[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
cassandra-driver = "*"
pandas = "*"
ipython-sql = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
